11_ABSA_Datasets

In [ ]:
import pandas as pd
import os
dat=[]
df = pd.read_excel("testing data\ABSA_Datasets.xlsx")
df = df.drop(['id'], axis=1)
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

In [ ]:
df.to_excel("testing_data2//ABSA_Datasets.xlsx",index=False)

CogniSenti

In [ ]:
df = pd.read_excel("testing data\CogniSenti.xlsx")
df = df.drop(['id'], axis=1)
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

In [ ]:
df.to_excel("testing_data2//CogniSenti.xlsx",index=False)

multichannel_bsentiment

In [ ]:
df = pd.read_excel("testing data\multichannel_bsentiment.xlsx")
df = df.drop(['id'], axis=1)
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

In [ ]:
df.to_excel("testing_data2//multichannel_bsentiment.xlsx",index=False)

youtube_sentiment

In [ ]:
df = pd.read_excel("testing data\youtube_sentiment.xlsx")
df = df.drop(['id'], axis=1)
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

In [ ]:
df.to_excel("testing_data2//youtube_sentiment.xlsx",index=False)

(2)SentNoB Dataset

In [ ]:
df = pd.read_excel("testing data\SentNoB.xlsx")
dict1={
    0: "Neutral",
    1: "Positive",
    2: "Negative"
}
df = df.rename(columns={
    'Data': 'text',
    'Label': 'label'
})
# df = df.drop(['id'], axis=1)
# dd=[]
# [dd.append([str(x)]) for x in set(df['class_label'])]
# s=set(df['class_label'])
# class_map={}
# for idx,x in enumerate(s):
#     class_map[x]=idx
df['class_label']=[dict1[x] for x in df['label']]
df.head()

In [ ]:
df.to_excel("testing_data2//SentNoB.xlsx",index=False)

Bangla ( Bengali ) sentiment analysis classification benchmark dataset corpus(BSACD)

In [ ]:
df = pd.read_excel("testing data\BSACD.xlsx")

df = df.rename(columns={
    'label': 'class_label'
})
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

In [ ]:
df.to_excel("testing_data2//BSACD.xlsx",index=False)

(5) Sentiment Dataset (Bangla Text)

In [2]:
import pandas as pd
df = pd.read_excel(r"testing data\5_Sentiment_Dataset.xlsx")

df = df.rename(columns={
    'Tag': 'class_label'
})
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

  class_label                                               Text  label
0    Negative  মাদ্রিদ হারার পর পুরা মনটাই ভাইঙ্গা গেছে :( কি...      0
1    Negative  আমি মানুষটা খুব একটা ভালো না। আসলে ভালো থেকে ক...      0
2    Negative  নোয়াখালীতে একজন মারা গেছে পিকেটারদের ইটের আঘাত...      0
3    Negative  ﻿মন দিতে না পারলে মন ভেঙো না। সুখ দিতে না পারল...      0
4    Negative  আজাইরা কামে যে প্রচুর সময় নষ্ট করি তা আজকেও আর...      0

In [ ]:

df.to_excel("testing_data2//5_Sentiment_Dataset.xlsx",index=False)

(6) Data Set For Sentiment Analysis On Bengali News Comments(dsfsa)

In [3]:
df = pd.read_excel(r"testing data\dsfsa.xlsx")
df = df[['data', 'tag']]
df = df.rename(columns={
    'tag': 'class_label'
})
dd=[]
[dd.append([str(x)]) for x in set(df['class_label'])]
s=set(df['class_label'])
class_map={}
for idx,x in enumerate(s):
    class_map[x]=idx
df['label']=[class_map[x] for x in df['class_label']]
df.head()

                                                data       class_label  label
0           লিখার সময় পারলে সত্য লিখার অভ্যাস শিখুন।   কিছুটা নেতিবাচক      0
1  এটা কেন হচ্ছে? সংশ্লিষ্ট সকলের ডিপ্রেশনের ফলে?...   কিছুটা নেতিবাচক      0
2  আমাদের দেশের স্বাভাবিক অর্থনৈতিক গতিপ্রবাহকে ব...  নিশ্চিত নেতিবাচক      3
3                                    চুরি নয় লুটপাট।  নিশ্চিত নেতিবাচক      3
4  ইসলামী ব্যাংকের বর্তমান অবস্থা দেখে মনে হয় শাস...          নিরপেক্ষ      4

In [ ]:

df.to_excel("testing_data2//dsfsa.xlsx",index=False)

(7) BanglaBook

In [4]:
df = pd.read_excel(r"testing data\BanglaBook.xlsx")
df = df[['Review', 'sentiment',"label"]]
df = df.rename(columns={
    'sentiment': 'class_label',
    'Review': 'text'
})
# dd=[]
# [dd.append([str(x)]) for x in set(df['class_label'])]
# s=set(df['class_label'])
# class_map={}
# for idx,x in enumerate(s):
#     class_map[x]=idx
# df['label']=[class_map[x] for x in df['class_label']]
df.head()

                                                text class_label  label
0  দারুন ‍একটা বই ,প্রথমে ভেবেছিলাম  Online থেকে ...    negative      0
1           সেরা বইগুলোর ভিতরে অন্যতম একটি বই মেসেজ।    positive      2
2  বইটি  আমার  প্রিয় ছিল খুব আগে থেকেই, টিচার্সরা...    positive      2
3           এটির প্রচ্ছদ দ্বারা একটি বই বিচার করুন 😎    negative      0
4  আমেরিকান লেখক জর্জ আর। আর মার্টিনের একটি মহাকা...    positive      2

In [ ]:

df.to_excel("testing_data2//BanglaBook.xlsx",index=False)

In [53]:
for x in os.listdir("testing_data2"):
    print(x)
    df=pd.read_excel(os.path.join("testing_data2",x))
    s=list(set(df['class_label']))
    for x in s:
        print(x,"-->",len(df[df['class_label']==x]))

5_Sentiment_Dataset.xlsx
Negative --> 7510
Positive --> 8015
ABSA_Datasets.xlsx
negative --> 2491
neutral --> 503
positive --> 1651
BanglaBook.xlsx
negative --> 9674
neutral --> 6804
positive --> 141587
BSACD.xlsx
negative --> 3308
positive --> 8501
CogniSenti.xlsx
Neutral --> 3749
Negative --> 1333
Positive --> 1488
dsfsa.xlsx
নিশ্চিত ইতিবাচক --> 2280
কিছুটা নেতিবাচক --> 3198
কিছুটা ইতিবাচক --> 1445
নিরপেক্ষ --> 2951
নিশ্চিত নেতিবাচক --> 3928
multichannel_bsentiment.xlsx
Negative --> 4634
Positive --> 3786
SentNoB.xlsx
Neutral --> 3609
Negative --> 5709
Positive --> 6410
youtube_sentiment.xlsx
Neutral --> 761
Negative --> 1283
Positive --> 752